body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: #1c1c1cf2;
  font-family: 'Inter', sans-serif;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.colors {
  text-align: center;
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.05);
  width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: #1f2937;
}

.header {
  height: 40%;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}

.headings {
  padding: 10px 0;
}

.header h1 {
  color: white;
}

h1 {
  color: darkmagenta;
}

h2 {
  color: #db0054;
}

h3 {
  color: rgb(255, 151, 15);
}

h4 {
  color: hsl(55deg 100% 50%);
}
